@model IEnumerable<QuizApp.Dto.QuestionDtos.QuestionSummary>
<h1>Sorular</h1>
<div class="row">
    <div class="col-12">
        <div class="text-end mb-2">
            <a asp-controller="Question" asp-action="Create" class="btn btn-outline-primary btn-sm float-end mb-2">Yeni Ekle</a>
        </div>
        <table class="table table-striped table-bordered" id="myTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kategori Adı</th>
                    <th>Quiz Başlığı</th>
                    <th>Quiz Açıklaması</th>
                    <th>Soru</th>
                    <th>İşlemler</th>
                    <th>Cevaplar</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Category</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Text</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-danger quizappm" data-question-id="@item.Id">Sil</button>
                                <a class="btn btn-warning d-inline-block ms-2" asp-controller="Question" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-success d-inline-block ms-2" asp-controller="Answer" asp-action="AddAnswer" asp-route-id="@item.Id">Cevap Ekle</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        let buttons = document.getElementsByClassName('quizappm');
        for (let i = 0; i < buttons.length; i++) {
            var delButton = buttons[i];
            delButton.addEventListener('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: `/Question/Delete?id=${this.dataset.questionId}`,
                    method: 'get',
                    success: function (event) {
                        alert(event);
                        window.location.reload();
                    }
                })
            })
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}